$topnav-background-color: #222;
:host {
    .navbar {
        background-color: $topnav-background-color;//color barra superior
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }

}

.stilo-hd {
    border: 10;
    border-color: white;
    border-radius: 10;
    color: white;
    text-decoration: none;
    .fa {
        margin-right: 10px;
    }
}
.nested-menu {
    .list-group-item {
        cursor: pointer;
        border: 0;
        border-color: white;
        border-radius: 1;
        color: #999;
        text-decoration: none;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: #fff;
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}
